/* CSS Document */

*, *::after, *::before {
  box-sizing:border-box;
  margin: 0; padding: 0;
}

body {
  font-family: sans-serif;
}

/* De paragraaf in de header*/
body header p {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  font-size: 12px;
}

/* Het logo wordt in display:block gezet, want het is een inline element*/
header > img {
  display: block;
  margin: auto;
  padding: 1em;

}

/* Het section element wordt relative gezet*/
body main section {
  position: relative;
}

/* Het element wordt gepossitioneerd ten opzichte van het parent element, de section. */
body main section div {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

/* De h2 wordt aangeroepen */
body main section h2 {
  color: #FFFFFF;
  text-align: center;
  line-height: 36px;
  font-size: 33px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

/* Deze unorderd list wordt doormiddel van display: flex naast elkaar gepositioneerd en ruimte tussen de li's*/
body main section div ul {
  display: flex;
  justify-content: space-between;
}

/* De drie verschillende lijstjes worden aangesproken*/
body main section li {
  background-color: #000000;
  list-style-type: none;
  padding: 10px 9px 9px;

}

/*De linkjes worden aangesproken*/
body main section ul li a {
  text-decoration: none;
  color: white;
}








/* De tweede afbeelding in een nieuwe section*/
