/* CSS Document */

*, *::after, *::before {
  box-sizing:border-box;
  margin: 0; padding: 0;
}

body {
  font-family: sans-serif;
}


header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255, 0.85);
  z-index: 1;
}

header nav {
  left: -666em;
}
/*Navigatie als je op hamburgermenu klikt*/
header nav ul{
  position: absolute;
  background-color: black;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -1000%;
  z-index: 100;
}

/*Navigatie als je op hamburgermenu klikt*/
header nav ul li {
  text-align: left;
  margin: 2em 0 0 3em;
  padding-bottom: 1em;
  border-bottom: 0.1em solid gray;
  width: 80%;
}

/*Navigatie als je op hamburgermenu klikt*/
header nav ul li:first-of-type{
  margin-top: 5em;
}

/*Navigatie als je op hamburgermenu klikt*/
header nav ul li a{
 color: white;
 text-decoration: none;
}

.toonMenu nav ul{
  left:0;
}


header > button,
header > ul li:first-of-type a,
header > ul li:nth-last-of-type(1) a {
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: 1.5em;
  height: 2em;
  text-decoration: none;
}

header > button {
  background-image: url("../images/hamburgermenu.png");
  background-repeat: no-repeat;
  margin-left: 1.3em;

}

header > a img {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  width: 12.5em;
}


header > ul li:nth-of-type(1) a {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
}

header > ul li:nth-of-type(2) a {
  background-image: url("../images/bag.svg");
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

header ul {
  display: flex;
}

header form {
  width: 100%;
}


header > button {
  display: block;
}



header li  {
  list-style-type: none;
  text-align: center;
  margin: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}



header nav ul li:last-of-type a {
  color: red;
  white-space: nowrap;
}


header h1 {
  position: absolute;
  left: -666em;
}

/* Het formulier krijgt een display flex, zodat alle content in het midden van de pagina komt te staan, van uit horizontaal gezien*/
header form {
  border: 1px solid grey;
  padding: 0.5em 1em;
  margin: 1em 1em 1em 1em;
  display: flex;
  justify-content: space-between;

}

header input {
  border: none;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.0);
}


header button {
  border: none;
  background-color: rgba(255, 255, 255, 0.0);
}






/* Het section element wordt relative gezet*/
body main section {
  position: relative;
}

/* Het element wordt gepossitioneerd ten opzichte van het parent element, de section. */
body main section div {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

/* De h2 wordt aangeroepen */
body main section h2 {
  color: #FFFFFF;
  text-align: center;
  line-height: 36px;
  font-size: 33px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}


/* Deze unorderd list wordt doormiddel van display: flex naast elkaar gepositioneerd en ruimte tussen de li's*/
body main section div ul {
  display: flex;
  justify-content: space-between;

}

/* De drie verschillende lijstjes worden aangesproken*/
body main > section li {
  background-color: #000000;
  list-style-type: none;
  padding: 12.5px 12.5px;
}

/*De linkjes worden aangesproken*/
body main section ul li a {
  text-decoration: none;
  color: white;
}


.detailpagina main section:first-of-type ul {
  display: flex;
  overflow: scroll;
}

.detailpagina main section:first-of-type ul li {
  margin: 0.2em;
  padding: 0.5em;
  background-color: white;
  border: .1rem solid rgba(34,34,34,.1);
  border-radius: 0.25em;
}

.detailpagina main section:first-of-type ul li:first-of-type {
  margin-left: 0.8em;
}

.detailpagina main section:first-of-type ul li a {
  color: #333;
  font-size: 17px;
  font-weight: lighter;
  white-space: nowrap;
}

.detailpagina main section:first-of-type button {
  margin-left: 1em;
  margin-top: 1em;
  background-color: white;
  border: .1rem solid rgba(34,34,34,.1);
  border-radius: 0.25em;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  width: 40%;
  font-size: 17px;

}

.detailpagina main section:first-of-type button img {
  width: 2em;
}


.detailpagina main section:nth-of-type(2) {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.detailpagina main section:nth-of-type(2) article {
  margin: 0.5em;
}

.detailpagina main section:nth-of-type(2) article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.detailpagina main section:nth-of-type(2) article button {
    border: none;
    background-color: white;
    position: absolute;
    top: 1.5em;
    left: 2em;
}

.detailpagina main section:nth-of-type(2) article button a{
  background-image: url("../images/heartfullgray.svg");
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  display: inline-block;
}

/*Detialpagina de navigatie flexen*/
.detailpagina main section nav ul {
  display: flex;
  justify-content: center;
}

.detailpagina main section nav ul li {
  background-color: white;
}


/*Detailpagina navigatie onder aan de artikelen*/
.detailpagina main section nav ul li:first-of-type a{
  background-image: url("../images/nav-pijl-links.svg");
  width: 2em;
  height: 2em;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2em;
}

.detailpagina main section nav ul li p {
  font-size: 17px;
  margin: 0;
  margin-top: 0.5em;
}


/*Detailpagina navigatie onder aan de artikelen*/
.detailpagina main section nav ul li:nth-of-type(3) a{
  background-image: url("../images/nav-pijl-rechts.svg");
  width: 2em;
  height: 2em;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2em;

}


/*Het directe child van de body is de section die een relatief is*/
body > section {
  position: relative;

}

body > section div {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

body > section div ul {
display: flex;
justify-content: center;

}

body section h2 {
  color: #FFFFFF;
  text-align: center;
  line-height: 36px;
  font-size: 33px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.detailpagina main h2 {
  font-size: 20px;
  margin-left: 0.8em;
  margin-top: 0.5em;
  margin-bottom: -1.5em;
}


/* De drie verschillende lijstjes worden aangesproken*/
div > ul li{
  background-color: #000000;
  list-style-type: none;
  padding: 12.5px 12.5px;
  color: #F6F6F6;
  text-decoration: none;
}

/*De linkjes worden aangesproken*/
body section div ul li a {
  text-decoration: none;
  color: white;
}

body section h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 3em 2em 1em;
}

/*Geeft een margin rechts */
body > section:first-of-type {
  margin-right: 0.1em;
}

/*Geeft een margin links */
body > section:nth-of-type(2) {
  margin-left: 0.1em;
}

/*Informatie over de winkel*/
body section:last-of-type p {
  font-weight: lighter;
  font-size: 12px;
  line-height: 180%;
  margin: 0em 3em 3em ;
}




/*Begin van de footer*/

footer section h3 {
  background-color: #F6F6F6;
  padding: 1.5em;
  margin: 0;
  border-top: 0.1em solid lightgray;
}

footer section button {
  background-color: #F6F6F6;
  padding: 1.5em;
  margin: 0;
  border-top: 0.01em solid lightgray;
  border-bottom: 0em;
  border-right: 0em;
  border-left: 0em;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

}

footer section ul {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

/*Voor het aanroepen met Javascript*/
.toonFooter footer section:first-of-type ul {
  max-height: 100em;
  opacity: 1;
  pointer-events: all;
}

.toonFooter2 footer section:nth-of-type(2) ul {
  max-height: 100em;
  opacity: 1;
  pointer-events: all;
}

.toonFooter3 footer section:nth-of-type(3) ul {
  max-height: 100em;
  opacity: 1;
  pointer-events: all;
}

/*pointer-events mag nooit het target zijn van een muisklik, dus als je er op klikt,wordt het element genegeerd.  */
.toonFooter4 footer section:nth-of-type(4) ul {
  max-height: 100em;
  opacity: 1;
  pointer-events: all;
}

footer section ul li {
  background-color: #F6F6F6;
  text-align: center;
  padding: 0.5em;
}

footer section ul li a{
  text-decoration: none;
  color: #000000;
}


body footer section:last-of-type ul  {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 3em auto;
}

body footer section:last-of-type ul li  {
  flex-wrap: wrap;
  margin-top: 2em;
  text-decoration: none;
  list-style-type: none;
  width: 25%;
  padding: 0;
  margin: 0;
  background-color: white;
}

footer section:last-of-type ul {
  max-height: 1000em;
  opacity: 1;
}


/*De 2020 laatste paragraaf*/
body footer > p {
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  margin: 3em 0;
}










/*Begin media query's van klein tot groot*/
@media (max-width:500px) {
  .detailpagina main section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
  }
 }


 @media (min-widt: 700px) {
   header ul,
   header ul li:nth-last-of-type(1) {
     background-size: contain;
     width: 5em;
     height: 5em;
     }
   }


@media (min-width:720px) {
 body {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
 header,
 main,
 footer,
 section:last-of-type {
   grid-column: 1 / -1;
 }
 body >  section:last-of-type {
   max-width: 50em;
   margin: 0 auto;
 }

}

@media (min-width:45em) {
  body > section div ul {
  display: flex;
  justify-content: center;
  }
}


@media (min-width:50em) {
    body main section h2 {
      font-size: 45px;
      line-height: 45px;
      text-transform: uppercase;

    }
    body main section li {
      font-size: 20px;
    }

    .detailpagina main section:nth-of-type(2) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }


@media (min-width:1227px) {
    header form {
      width: 20vw;
      order: 3;
    }

    header nav {
      width: 35vw;
      display: flex;
      order: -1;
      margin-left: 1em;
    }

    header nav ul {

    }

    header > a img {
      order: 2;
    }

    header ul {
      order: 4;
      margin: 1em;
    }

    header > button {
      display: none;
    }

    header nav ul li a{
      position: relative;

    }

    header nav ul li a::after{
      content: "";
      height: 2px;
      width: 100%;
      background-color: black;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: left center;
      transition: 0.25s;
    }

    header nav ul li:nth-of-type(4) a::after {
      background-color: red;

    }

    header nav ul li a:hover::after {
      transform: scaleX(1);
    }

    header nav ul li a {
      color: black;
      text-decoration: none;
    }


    body main{
      margin: 0 1.5em;
    }

    body > section:first-of-type div h2 {
      margin: 0 0.5em;
      font-size: 30px;
    }

    body > section:first-of-type {
        margin-left: 1.5em;
    }

    body > section:nth-last-of-type(2) {
        margin-right: 1.5em;
    }

    .detailpagina main section:nth-of-type(2) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
